/* <--------------------------->
        Google fonts  
   <--------------------------->*/
   @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Poppins:wght@500;600;700&family=Roboto:wght@700&display=swap');

   /* 
   font-family: 'Inter', sans-serif;
   font-family: 'Poppins', sans-serif; 
   */

/* <--------------------------->
      Common Style/Utilities 
   <--------------------------->*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif; 
  background-color: #ffffff;
}
.container{
  max-width: 1100px;
  margin:50px auto;
}
a{
  text-decoration: none;
}
a.button-style{
  padding: 5px 20px;
  background-color: var(--button-color);
  color: #ffffff;
  border-radius:15px;
  margin-top: 5px;
  display: inline-block;
}
span.button{
  padding-left: 5px;
}
p{
  font-size: 16px;
  color: var(--main-color);
  font-weight: 600;
}
li{
  list-style: none;
}
:root{
  --main-color:#3A3A3A;
  --button-color:#E02C6D;
}


/* nav  */
nav{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a{
  padding: 5px 10px;
  color:var(--main-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: var(--main-color);
}
nav ul{
  display: flex;
}
nav .logo a{
  font-size: 24px;
  font-weight: 700;
  color: var(--main-color);
}

/* <--------------------------->
        Hero-Section 
   <--------------------------->*/
   
.hero .row{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: end;
}
.hero .content{
  display: flex;
  align-items: center;
}
.hero h1{
  font-size: 52px;
  font-weight: 700;
  color: var(--main-color);
  letter-spacing: -2px;
  line-height: 65px;
}
.hero p{
  margin: 15px 0;
}
/* <--------------------------->
        Company-logo 
   <--------------------------->*/

.company{
  border-top: 2px solid rgba(128, 128, 128, 0.233);
  border-bottom: 2px solid rgba(128, 128, 128, 0.233);
  padding: 15px 0;
}
.company-logo .company{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  line-height: 50px;
}
.company-logo img{
  padding: 10px;
}

/* <--------------------------->
        Popular-Product
   <--------------------------->*/
.popular-collection .row{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-row-gap: 30px;
  justify-items: center;
}

.popular-collection-title{
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: var(--main-color);
  margin: 50px 0;
}
.popular-collection img{
  width: 300px;
  height: 256px;
  border-radius: 5px;
  padding: 15px;
}
.product.shadow{
  max-width:300px;
  height: 430px;
  box-shadow: 15px 5px 80px rgb(212, 179, 179);
  border-radius: 5px;
}
.product-info{
  padding-left: 15px;
}
.product-title h3{
  font-size: 28px;
  color: #18191F;
}
span.price{
  font-size: 24px;
  color: #000000;
  opacity: 87%;
}
.fa-star,
.fa-star-half-alt{
  font-size: 12px;
  color: #FB8200;
}
span.rating{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #5E6366;
  opacity: 80%;
  padding-left: 10px;
}
p.product-description{
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #787885;
  line-height: 25px;
}